################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/LibgenServer.Core/bin/Debug
/LibgenServer.Core/obj
/LibgenServer.Web/obj
/.vs/LibgenServer
/LibgenServer.Cli/bin/Debug
/LibgenServer.Cli/obj
